html,
body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.alert-popup {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  border-radius: 32px !important;
  -webkit-border-radius: 32px !important;
  -moz-border-radius: 32px !important;
  -ms-border-radius: 32px !important;
  -o-border-radius: 32px !important;
}
.alert-popup-confirmButton {
  background: transparent !important;
  border: 1px solid #716add !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !;
  -moz-border-radius: 50% !;
  -ms-border-radius: 50% !;
  -o-border-radius: 50% !;
}
img {
  max-width: 100%;
}

body {
  display: grid;
  font-family: 'Segoe UI', sans-serif;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  color: #3e3e3e;
  text-shadow: 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: lighter;
  grid-column: span 3;
  text-align: center;
  color: #ec407a;
}

#wrapper {
  display: grid;
  grid-column: 3 / 11;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-row-gap: 10px;
  margin-top: 3.6rem;
}

#clock-box,
#info {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

#clock-box #clock {
  grid-column: 4 / 10;
  background-color: #f8c8c8;
  padding: 0.6rem 2rem;
  padding-top: 0.8rem;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 10rem;
}

date,
time {
  display: block;
}

date {
  font-size: 18px;
}

time {
  font-family: 'Arial', sans-serif;
  line-height: 3.2rem;
  letter-spacing: 2px;
}

.avt {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

#info {
  margin-top: 2.6rem;
}

#heart {
  grid-column: span 2;
  display: grid;
  grid-template-rows: 2;
  font-size: 44px;
  color: #b90d46;
  align-self: center;
  padding-bottom: 2.6rem;
  text-align: center;
}

anni {
  font-size: 16px;
  letter-spacing: 0.2px;
}

#info .one {
  grid-column: 3 / 6;
  text-align: center;
}

#info .two {
  grid-column: 8 / 11;
  text-align: center;
}

footer {
  grid-column: span 3;
  text-align: center;
  font-size: 1.6rem;
  font-weight: lighter;
  margin-top: 1.2rem;
}

#music {
  grid-column: 2;
  position: relative;
  z-index: 1000;
  opacity: 0.4;
}

#mask {
  background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
  opacity: 0.42;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  #wrapper {
    grid-column: span 12;
  }

  #clock-box #clock {
    grid-column: 2 / 12;
  }

  .avt {
    width: 120px;
    height: 120px;
  }

  #info .one,
  #info .two {
    grid-column: span 12;
  }

  #heart {
    grid-column: span 12;
    padding-bottom: 1rem;
  }

  footer {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 2rem;
  }
}
.name_title {
  font-weight: 600;
}
/* Effect */
.pyro {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -216px -88.3333333333px #ff00c8, -82px -198.3333333333px #fffb00,
      145px -78.3333333333px #003cff, -211px -143.3333333333px #5eff00,
      -39px -217.3333333333px #004dff, 40px -238.3333333333px #eeff00,
      -2px -294.3333333333px #2bff00, 38px 19.6666666667px #00ff80,
      -188px 13.6666666667px #ff00c8, 144px 15.6666666667px #95ff00,
      -93px -43.3333333333px yellow, 4px -155.3333333333px #00fff2,
      26px -270.3333333333px #ff00e6, -218px -101.3333333333px #ff0900,
      -174px 20.6666666667px #00ffd5, 224px -212.3333333333px #00ff66,
      219px -0.3333333333px #005eff, -154px -195.3333333333px #ff00e6,
      171px -117.3333333333px #f7ff00, -206px -30.3333333333px #ff8000,
      138px 33.6666666667px #00a6ff, 83px -53.3333333333px #00f2ff,
      -43px -56.3333333333px #ff00bf, 23px -34.3333333333px #ffea00,
      -233px -46.3333333333px #59ff00, -6px -137.3333333333px #ff0073,
      7px -273.3333333333px #ff0900, -17px -219.3333333333px #00ff95,
      209px -316.3333333333px #ff00d5, 202px -25.3333333333px #ff00e6,
      127px -3.3333333333px #ff6a00, 231px -34.3333333333px #d900ff,
      -131px 64.6666666667px #ae00ff, 238px -59.3333333333px #2200ff,
      157px -287.3333333333px #009dff, -65px -234.3333333333px #00e1ff,
      235px -134.3333333333px #00ff48, 135px -211.3333333333px #f7ff00,
      -201px -61.3333333333px #ff001e, 115px -158.3333333333px #3700ff,
      197px 19.6666666667px #ff00d5, 138px -111.3333333333px #ff0048,
      -220px -224.3333333333px #00ff66, -73px -180.3333333333px #ea00ff,
      35px -319.3333333333px #1a00ff, 54px -22.3333333333px #00b3ff,
      28px -35.3333333333px #00d5ff, 207px -117.3333333333px #5e00ff,
      -56px -173.3333333333px #00f7ff, -162px -121.3333333333px #ff4d00,
      -73px -54.3333333333px #5e00ff, -38px 14.6666666667px #00d9ff,
      -134px -153.3333333333px #00ffae, 214px -59.3333333333px #00ffc8,
      -101px -170.3333333333px #ff5900, 137px -116.3333333333px #00c8ff,
      -200px 6.6666666667px #26ff00, 171px 49.6666666667px #aaff00,
      -36px -195.3333333333px #84ff00, -222px -2.3333333333px #0009ff,
      -15px -329.3333333333px #ffe100;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -216px -88.3333333333px #ff00c8, -82px -198.3333333333px #fffb00,
      145px -78.3333333333px #003cff, -211px -143.3333333333px #5eff00,
      -39px -217.3333333333px #004dff, 40px -238.3333333333px #eeff00,
      -2px -294.3333333333px #2bff00, 38px 19.6666666667px #00ff80,
      -188px 13.6666666667px #ff00c8, 144px 15.6666666667px #95ff00,
      -93px -43.3333333333px yellow, 4px -155.3333333333px #00fff2,
      26px -270.3333333333px #ff00e6, -218px -101.3333333333px #ff0900,
      -174px 20.6666666667px #00ffd5, 224px -212.3333333333px #00ff66,
      219px -0.3333333333px #005eff, -154px -195.3333333333px #ff00e6,
      171px -117.3333333333px #f7ff00, -206px -30.3333333333px #ff8000,
      138px 33.6666666667px #00a6ff, 83px -53.3333333333px #00f2ff,
      -43px -56.3333333333px #ff00bf, 23px -34.3333333333px #ffea00,
      -233px -46.3333333333px #59ff00, -6px -137.3333333333px #ff0073,
      7px -273.3333333333px #ff0900, -17px -219.3333333333px #00ff95,
      209px -316.3333333333px #ff00d5, 202px -25.3333333333px #ff00e6,
      127px -3.3333333333px #ff6a00, 231px -34.3333333333px #d900ff,
      -131px 64.6666666667px #ae00ff, 238px -59.3333333333px #2200ff,
      157px -287.3333333333px #009dff, -65px -234.3333333333px #00e1ff,
      235px -134.3333333333px #00ff48, 135px -211.3333333333px #f7ff00,
      -201px -61.3333333333px #ff001e, 115px -158.3333333333px #3700ff,
      197px 19.6666666667px #ff00d5, 138px -111.3333333333px #ff0048,
      -220px -224.3333333333px #00ff66, -73px -180.3333333333px #ea00ff,
      35px -319.3333333333px #1a00ff, 54px -22.3333333333px #00b3ff,
      28px -35.3333333333px #00d5ff, 207px -117.3333333333px #5e00ff,
      -56px -173.3333333333px #00f7ff, -162px -121.3333333333px #ff4d00,
      -73px -54.3333333333px #5e00ff, -38px 14.6666666667px #00d9ff,
      -134px -153.3333333333px #00ffae, 214px -59.3333333333px #00ffc8,
      -101px -170.3333333333px #ff5900, 137px -116.3333333333px #00c8ff,
      -200px 6.6666666667px #26ff00, 171px 49.6666666667px #aaff00,
      -36px -195.3333333333px #84ff00, -222px -2.3333333333px #0009ff,
      -15px -329.3333333333px #ffe100;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -216px -88.3333333333px #ff00c8, -82px -198.3333333333px #fffb00,
      145px -78.3333333333px #003cff, -211px -143.3333333333px #5eff00,
      -39px -217.3333333333px #004dff, 40px -238.3333333333px #eeff00,
      -2px -294.3333333333px #2bff00, 38px 19.6666666667px #00ff80,
      -188px 13.6666666667px #ff00c8, 144px 15.6666666667px #95ff00,
      -93px -43.3333333333px yellow, 4px -155.3333333333px #00fff2,
      26px -270.3333333333px #ff00e6, -218px -101.3333333333px #ff0900,
      -174px 20.6666666667px #00ffd5, 224px -212.3333333333px #00ff66,
      219px -0.3333333333px #005eff, -154px -195.3333333333px #ff00e6,
      171px -117.3333333333px #f7ff00, -206px -30.3333333333px #ff8000,
      138px 33.6666666667px #00a6ff, 83px -53.3333333333px #00f2ff,
      -43px -56.3333333333px #ff00bf, 23px -34.3333333333px #ffea00,
      -233px -46.3333333333px #59ff00, -6px -137.3333333333px #ff0073,
      7px -273.3333333333px #ff0900, -17px -219.3333333333px #00ff95,
      209px -316.3333333333px #ff00d5, 202px -25.3333333333px #ff00e6,
      127px -3.3333333333px #ff6a00, 231px -34.3333333333px #d900ff,
      -131px 64.6666666667px #ae00ff, 238px -59.3333333333px #2200ff,
      157px -287.3333333333px #009dff, -65px -234.3333333333px #00e1ff,
      235px -134.3333333333px #00ff48, 135px -211.3333333333px #f7ff00,
      -201px -61.3333333333px #ff001e, 115px -158.3333333333px #3700ff,
      197px 19.6666666667px #ff00d5, 138px -111.3333333333px #ff0048,
      -220px -224.3333333333px #00ff66, -73px -180.3333333333px #ea00ff,
      35px -319.3333333333px #1a00ff, 54px -22.3333333333px #00b3ff,
      28px -35.3333333333px #00d5ff, 207px -117.3333333333px #5e00ff,
      -56px -173.3333333333px #00f7ff, -162px -121.3333333333px #ff4d00,
      -73px -54.3333333333px #5e00ff, -38px 14.6666666667px #00d9ff,
      -134px -153.3333333333px #00ffae, 214px -59.3333333333px #00ffc8,
      -101px -170.3333333333px #ff5900, 137px -116.3333333333px #00c8ff,
      -200px 6.6666666667px #26ff00, 171px 49.6666666667px #aaff00,
      -36px -195.3333333333px #84ff00, -222px -2.3333333333px #0009ff,
      -15px -329.3333333333px #ffe100;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -216px -88.3333333333px #ff00c8, -82px -198.3333333333px #fffb00,
      145px -78.3333333333px #003cff, -211px -143.3333333333px #5eff00,
      -39px -217.3333333333px #004dff, 40px -238.3333333333px #eeff00,
      -2px -294.3333333333px #2bff00, 38px 19.6666666667px #00ff80,
      -188px 13.6666666667px #ff00c8, 144px 15.6666666667px #95ff00,
      -93px -43.3333333333px yellow, 4px -155.3333333333px #00fff2,
      26px -270.3333333333px #ff00e6, -218px -101.3333333333px #ff0900,
      -174px 20.6666666667px #00ffd5, 224px -212.3333333333px #00ff66,
      219px -0.3333333333px #005eff, -154px -195.3333333333px #ff00e6,
      171px -117.3333333333px #f7ff00, -206px -30.3333333333px #ff8000,
      138px 33.6666666667px #00a6ff, 83px -53.3333333333px #00f2ff,
      -43px -56.3333333333px #ff00bf, 23px -34.3333333333px #ffea00,
      -233px -46.3333333333px #59ff00, -6px -137.3333333333px #ff0073,
      7px -273.3333333333px #ff0900, -17px -219.3333333333px #00ff95,
      209px -316.3333333333px #ff00d5, 202px -25.3333333333px #ff00e6,
      127px -3.3333333333px #ff6a00, 231px -34.3333333333px #d900ff,
      -131px 64.6666666667px #ae00ff, 238px -59.3333333333px #2200ff,
      157px -287.3333333333px #009dff, -65px -234.3333333333px #00e1ff,
      235px -134.3333333333px #00ff48, 135px -211.3333333333px #f7ff00,
      -201px -61.3333333333px #ff001e, 115px -158.3333333333px #3700ff,
      197px 19.6666666667px #ff00d5, 138px -111.3333333333px #ff0048,
      -220px -224.3333333333px #00ff66, -73px -180.3333333333px #ea00ff,
      35px -319.3333333333px #1a00ff, 54px -22.3333333333px #00b3ff,
      28px -35.3333333333px #00d5ff, 207px -117.3333333333px #5e00ff,
      -56px -173.3333333333px #00f7ff, -162px -121.3333333333px #ff4d00,
      -73px -54.3333333333px #5e00ff, -38px 14.6666666667px #00d9ff,
      -134px -153.3333333333px #00ffae, 214px -59.3333333333px #00ffc8,
      -101px -170.3333333333px #ff5900, 137px -116.3333333333px #00c8ff,
      -200px 6.6666666667px #26ff00, 171px 49.6666666667px #aaff00,
      -36px -195.3333333333px #84ff00, -222px -2.3333333333px #0009ff,
      -15px -329.3333333333px #ffe100;
  }
}
@keyframes bang {
  to {
    box-shadow: -216px -88.3333333333px #ff00c8, -82px -198.3333333333px #fffb00,
      145px -78.3333333333px #003cff, -211px -143.3333333333px #5eff00,
      -39px -217.3333333333px #004dff, 40px -238.3333333333px #eeff00,
      -2px -294.3333333333px #2bff00, 38px 19.6666666667px #00ff80,
      -188px 13.6666666667px #ff00c8, 144px 15.6666666667px #95ff00,
      -93px -43.3333333333px yellow, 4px -155.3333333333px #00fff2,
      26px -270.3333333333px #ff00e6, -218px -101.3333333333px #ff0900,
      -174px 20.6666666667px #00ffd5, 224px -212.3333333333px #00ff66,
      219px -0.3333333333px #005eff, -154px -195.3333333333px #ff00e6,
      171px -117.3333333333px #f7ff00, -206px -30.3333333333px #ff8000,
      138px 33.6666666667px #00a6ff, 83px -53.3333333333px #00f2ff,
      -43px -56.3333333333px #ff00bf, 23px -34.3333333333px #ffea00,
      -233px -46.3333333333px #59ff00, -6px -137.3333333333px #ff0073,
      7px -273.3333333333px #ff0900, -17px -219.3333333333px #00ff95,
      209px -316.3333333333px #ff00d5, 202px -25.3333333333px #ff00e6,
      127px -3.3333333333px #ff6a00, 231px -34.3333333333px #d900ff,
      -131px 64.6666666667px #ae00ff, 238px -59.3333333333px #2200ff,
      157px -287.3333333333px #009dff, -65px -234.3333333333px #00e1ff,
      235px -134.3333333333px #00ff48, 135px -211.3333333333px #f7ff00,
      -201px -61.3333333333px #ff001e, 115px -158.3333333333px #3700ff,
      197px 19.6666666667px #ff00d5, 138px -111.3333333333px #ff0048,
      -220px -224.3333333333px #00ff66, -73px -180.3333333333px #ea00ff,
      35px -319.3333333333px #1a00ff, 54px -22.3333333333px #00b3ff,
      28px -35.3333333333px #00d5ff, 207px -117.3333333333px #5e00ff,
      -56px -173.3333333333px #00f7ff, -162px -121.3333333333px #ff4d00,
      -73px -54.3333333333px #5e00ff, -38px 14.6666666667px #00d9ff,
      -134px -153.3333333333px #00ffae, 214px -59.3333333333px #00ffc8,
      -101px -170.3333333333px #ff5900, 137px -116.3333333333px #00c8ff,
      -200px 6.6666666667px #26ff00, 171px 49.6666666667px #aaff00,
      -36px -195.3333333333px #84ff00, -222px -2.3333333333px #0009ff,
      -15px -329.3333333333px #ffe100;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
